{#}
{% block choicetable_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {% spaceless %}
                    <div class="form-group">
                        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                    </div>
                {% endspaceless %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choicetable_widget %}
{#}
{% block choicetable_widget %}
    {% spaceless %}
        {{ block('choicetable_widget_expanded') }}
    {% endspaceless %}
{% endblock choicetable_widget %}

{% block choicetable_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choicetable_widget_expanded %}
