{% block fileinput_widget %}
{% spaceless %}
    <div class="fileinput">
        {{ form_widget(form.file) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block _hvg_publicbundle_pet_photographyfile_widget %}
{% spaceless %}
    <div class="fileinput">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block _hvg_publicbundle_ticket_file_widget %}
{% spaceless %}
    <div class="fileinput">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block _hvg_publicbundle_accesspermission_cardfront_widget %}
{% spaceless %}
    <div class="fileinput">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block _hvg_publicbundle_accesspermission_cardback_widget %}
{% spaceless %}
    <div class="fileinput">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}
