{% extends ":User:base.html.twig" %}

{% trans_default_domain 'UnisystemUserBundle' %}

{% block title %}{{ 'resetting.request.title'|trans({}, 'UnisystemUserBundle') }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <h1 class="page-header">{{ 'resetting.request.title'|trans({}, 'UnisystemUserBundle') }}</h1>
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'resetting.request.title'|trans({}, 'UnisystemUserBundle') }}</div>
                <div class="panel-body">
                    {{ 'resetting.password_already_requested'|trans({}, 'UnisystemUserBundle') }}
                </div>
                <div class="panel-footer"><a href="{{ path("fos_user_security_login") }}">{{ 'resetting.request.back'|trans({}, 'UnisystemUserBundle') }}</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}