{% extends 'HVGAccessControlBundle:Base:layout.html.twig' %}

{% trans_default_domain 'HVGAccessControlBundle' %}

{% block title %}{{ 'guest.index.title'|trans }}{% endblock %}

{% block accesscontrol %}
    <div class="row" id="page-header">
        <div class="col-xs-12">
            <h1 class="page-header">{{ 'guest.index.title'|trans }}</h1>
            {% include 'HVGAccessControlBundle:Base:flashbag.html.twig' %}
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'guest.form.created_at'|trans }}</th>
                                <th>{{ 'guest.form.unit'|trans }}</th>
                                <th>{{ 'guest.form.licence'|trans }}</th>
                                <th>{{ 'guest.form.carpark'|trans }}</th>
                                <th>{{ 'guest.form.name'|trans }}</th>
                                <th>{{ 'guest.form.rut'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for guest in guests %}
                                {% for person in guest.people %}
                                <tr>
                                    {% if loop.first %}
                                        <td rowspan="{{ guest.people|length }}">{{ guest.createdat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd LLLL y HH:mm") }}</td>
                                        <td rowspan="{{ guest.people|length }}">{{ guest.unit.communityname }}</td>
                                        <td rowspan="{{ guest.people|length }}">{% if guest.licence %}{{ guest.licence }}{% endif %}</td>
                                        <td rowspan="{{ guest.people|length }}">{% if guest.carpark %}{{ guest.carpark.name }}{% endif %}</td>
                                    {% endif %}
                                        <td>{{ person.name }}</td>
                                        <td>{{ person.rut }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
