{% extends 'HVGPublicBundle:Base:base.html.twig' %}

{% trans_default_domain 'HVGPublicBundle' %}

{% block title %}{{ 'guest.index.title'|trans }}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row" id="page-header">
                <div class="col-xs-12">
                    <h1 class="page-header">{{ 'guest.index.title'|trans }}</h1>
                    {% include 'HVGPublicBundle:Base:flashbag.html.twig' %}
                    <div class="panel panel-default">
                        <table class="table table-bordered">
                            <tbody>
                                {% for guest in guests %}
                                    {% for person in guest.people %}
                                    <tr>
                                        {% if loop.first %}<td rowspan="{{ guest.people|length }}">{{ guest.unit }}</td>{% endif %}
                                            <td>{{ person.name }}</td>
                                            <td>{{ person.rut }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
