{% extends 'HVGAccessControlBundle:Base:layout.html.twig' %}

{% trans_default_domain 'HVGAccessControlBundle' %}

{% block title %}{{ 'guest.index.title'|trans }}{% endblock %}

{% block accesscontrol %}
    {% if guests is not empty %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'guest.index.title'|trans }}</h3>
        </div>
        <div class="table-responsive">
            <table class="records_list table table-hover">
            {% for guest in guests %}
                {% for person in guest.people %}
                    <tr>
                        <td style="white-space: nowrap;">{{ guest.unit }}</td>
                        <td style="white-space: nowrap;">{% if person.name %}{{ person.name }}{% endif %}</td>
                        <td style="white-space: nowrap;">{% if person.rut %}{{ person.rut }}{% endif %}</td>
                        <td style="white-space: nowrap;">{% if guest.carLicence %}{{ guest.carLicence }}{% endif %}</td>
                        <td style="white-space: nowrap;">{% if guest.guestcarpark %}{{ guest.guestcarpark.name }}{% endif %}</td>
                        <td style="white-space: nowrap;">{% if guest.accessguard %}{{ guest.accessguard.name }}{% endif %}</td>
                        <td style="white-space: nowrap;">{% if guest.checkpoint %}{{ guest.checkpoint.name }}{% endif %}</td>
                        <td style="white-space: nowrap;">{{ guest.createdat|ago }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
