{% extends 'HVGAccessControlBundle:Base:layout.html.twig' %}

{% trans_default_domain 'HVGAccessControlBundle' %}

{% block title %}{{ 'guest.new.title'|trans }}{% endblock %}

{% block accesscontrol %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">{{ 'guest.new.title'|trans }}</h1>
            {% include 'HVGPublicBundle:Base:flashbag.html.twig' %}
            {{ form_start(newForm, {'style':'horizontal'}) }}
            {{ form_row(newForm.people) }}
            {{ form_row(newForm.carlicence) }}
            {{ form_row(newForm.guestcarpark) }}
            {{ form_row(newForm.note) }}
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">{{ icon('send fa-fw') }}&nbsp;{{ 'guest.new.submit'|trans }}</button>
                </div>
            </div>
            {{ form_end(newForm) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <a href="{{ path('accesscontrol_accessmonitor_index', {'hash' : community.hash, 'accessgate' : accessgate.id, 'accessguard' : accessguard.id, 'unitgroup' : unitgroup.id, 'unit' : unit.id }) }}" class="btn btn-danger btn-lg btn-block">{{ icon('times fa-fw') }}&nbsp;{{ 'guest.new.cancel'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/braincrafted/bc-bootstrap-collection.js') }}"></script>
<script src="{{ asset('js/jquery.rut.js') }}"></script>
{#}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type="text/javascript">
$(document).ready(function() {
/*
    var optionsUnit = {
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        disableIfEmpty: true,
        maxHeight: 600,
        buttonWidth: '100%',
        nonSelectedText: 'Ningún Departamento Seleccionado',
        filterPlaceholder: 'Buscar',
        templates: {
            button: '<button type="button" class="multiselect dropdown-toggle btn-lg" data-toggle="dropdown"><span class="multiselect-selected-text"></span> <b class="caret"></b></button>',
            ul: '<ul class="multiselect-container dropdown-menu" style="font-size:large;"></ul>',
            filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span><input class="form-control multiselect-search input-lg" type="text"></div></li>',
            filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-lg multiselect-clear-filter" type="button"><i class="glyphicon glyphicon-remove-circle"></i></button></span>',
        },
        onChange: function(option, checked, select) {
            $.get(Routing.generate('accesscontrol_unitresident_searchbyunit', { unit: $(option).val() }), function(data){
                $('#unit-residents').empty();
                $.each(data, function(i, item){
                    $('#unit-residents').append('<li class="list-group-item">' + data[i].name + '<span class="badge" style="font-size: 15px; background-color: #6699ff;">' + data[i].phone + '</span></li>');
                })
            });
        }
    };
    $('#hvg_accesscontrolbundle_guest_unit').multiselect(optionsUnit);
    var optionsCarpark = {
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        disableIfEmpty: true,
        maxHeight: 600,
        buttonWidth: '100%',
        filterPlaceholder: 'Buscar',
        templates: {
            button: '<button type="button" class="multiselect dropdown-toggle btn-lg" data-toggle="dropdown"><span class="multiselect-selected-text"></span> <b class="caret"></b></button>',
            ul: '<ul class="multiselect-container dropdown-menu" style="font-size:large;"></ul>',
            filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span><input class="form-control multiselect-search input-lg" type="text"></div></li>',
            filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-lg multiselect-clear-filter" type="button"><i class="glyphicon glyphicon-remove-circle"></i></button></span>',
        },
    };
    $('#hvg_accesscontrolbundle_guest_guestcarpark').multiselect(optionsCarpark);
*/
});
</script>
{#}
{% endblock %}

