{% block tabs %}
    {% trans_default_domain 'HVGAgentBundle' %}
    <div class="row" id="tabs">
        <div class="col-md-12">
            {% if unit %}
            <ul class="nav nav-pills">
                <li><a href="{{ path('agent_unitresident_index', {'community' : community.id, 'unitgroup' : unitgroup.id, 'unit' : unit.id}) }}">{{ 'unitresident.index.link'|trans }}</a></li>
                <li class="active"><a href="{{ path('agent_warehouse_index', {'community' : community.id, 'unitgroup' : unitgroup.id, 'unit' : unit.id}) }}">{{ 'warehouse.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_carpark_index', {'community' : community.id, 'unitgroup' : unitgroup.id, 'unit' : unit.id}) }}">{{ 'carpark.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_guest_index', {'community' : community.id, 'unitgroup' : unitgroup.id, 'unit' : unit.id}) }}">{{ 'guest.index.link'|trans }}</a></li>
            </ul>
            <p></p>
            {% elseif unitgroup %}
            <ul class="nav nav-pills">
                <li><a href="{{ path('agent_unitresident_index', {'community' : community.id, 'unitgroup' : unitgroup.id}) }}">{{ 'unitresident.index.link'|trans }}</a></li>
                <li class="active"><a href="{{ path('agent_warehouse_index', {'community' : community.id, 'unitgroup' : unitgroup.id}) }}">{{ 'warehouse.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_carpark_index', {'community' : community.id, 'unitgroup' : unitgroup.id}) }}">{{ 'carpark.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_guest_index', {'community' : community.id, 'unitgroup' : unitgroup.id}) }}">{{ 'guest.index.link'|trans }}</a></li>
            </ul>
            <p></p>
            {% elseif community %}
            <ul class="nav nav-pills">
                <li><a href="{{ path('agent_unitresident_index', {'community' : community.id}) }}">{{ 'unitresident.index.link'|trans }}</a></li>
                <li class="active"><a href="{{ path('agent_warehouse_index', {'community' : community.id}) }}">{{ 'warehouse.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_carpark_index', {'community' : community.id}) }}">{{ 'carpark.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_guest_index', {'community' : community.id}) }}">{{ 'guest.index.link'|trans }}</a></li>
            </ul>
            <p></p>
            {% else %}
            <ul class="nav nav-pills">
                <li><a href="{{ path('agent_unitresident_index') }}">{{ 'unitresident.index.link'|trans }}</a></li>
                <li class="active"><a href="{{ path('agent_warehouse_index') }}">{{ 'warehouse.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_carpark_index') }}">{{ 'carpark.index.link'|trans }}</a></li>
                <li><a href="{{ path('agent_guest_index') }}">{{ 'guest.index.link'|trans }}</a></li>
            </ul>
            <p></p>
            {% endif %}
        </div>
    </div>
    <!-- /#unit-tab -->
{% endblock %}