{% extends 'HVGAgentBundle:Carpark:layout.html.twig' %}

{% set translation_domain = 'HVGAgentBundle' %}{% trans_default_domain translation_domain %}

{% block carpak %}
    <div class="row" id="page-list">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'carpak.index.list'|trans }}</h1>
                </div>
                {% if carpaks is empty %}
                <div class="panel-body">
                    <div class="text-center">{{ 'carpak.index.empty'|trans }}</div>
                </div>
                {% else %}
                <div class="table-responsive">
                    <table class="records_list table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('times fa-fw') }}</a></div>
                                </th>
                                <th>{{ 'carpak.form.name'|trans }}</th>
                                <th>{{ 'carpak.form.unit'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for carpak in carpaks %}
                            <tr>
                                <td>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-primary">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-warning">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-danger">{{ icon('times fa-fw') }}</a></div>
                                </td>
                                <td>{% if carpak.name %}{{ carpak.name }}{% endif %}</td>
                                <td>{% if carpak.unit %}{{ carpak.unit }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>                
        </div>
    </div>
    <!-- /#page-list -->        
{% endblock %}