{% block tabs %}
    {% trans_default_domain 'HVGAgentBundle' %}
    <div class="row" id="tabs">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">{{ 'unitresident.index.link'|trans }}</a></li>
                <li><a href="#">{{ 'warehouse.index.link'|trans }}</a></li>
                <li><a href="#">{{ 'carpark.index.link'|trans }}</a></li>
                <li><a href="#">{{ 'guest.index.link'|trans }}</a></li>
                <li><a href="#">{{ 'unitmemo.index.link'|trans }}</a></li>
            </ul>
            <p></p>
        </div>
    </div>
    <!-- /#unit-tab -->
{% endblock %}