{% extends ":Admin:base.html.twig" %}

{% trans_default_domain 'UnisystemUserBundle' %}

{% block title %}{{ 'profile.edit.title'|trans({}, 'UnisystemUserBundle') }}{% endblock %}

{% block body %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'profile.edit.title'|trans({}, 'UnisystemUserBundle') }}</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form, { 'style': 'horizontal', 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        {{ form_widget(form) }}
                        <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                            <button type="submit" class="btn btn-primary">{{ icon('save') }}&nbsp;{{ 'profile.edit.submit'|trans({}, 'UnisystemUserBundle') }}</button>
                        </div></div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}