{% extends "HVGUserBundle::base.html.twig" %}

{% trans_default_domain 'HVGUserBundle' %}

{% block title %}{{ 'security.login.title'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="logo text-center">
                <img class="img-responsive" src="{{ asset('/img/HVG.png') | imagine_filter('logo_login') }}" />
                <h1>HVG</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="panel-title">
                        {{ 'security.login.title'|trans }}
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="form-group">
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">{{ icon('times') }}</span></button>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            <input class="form-control text-center" type="text" id="username" name="_username" value="{{ last_username }}" required="required"  placeholder="{{ 'security.form.username'|trans }}" />
                        </div>
                        <div class="form-group">
                            <input class="form-control text-center" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.form.password'|trans }}" />
                        </div>
{#}
                        <div class="checkbox">
                            <label><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.form.remember_me'|trans }}</label> 
                        </div>
{#}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <button type="submit"  id="_submit" name="_submit" class="btn btn-primary btn-block">{{ icon('sign-in') }}&nbsp;{{ 'security.form.submit'|trans }}</button>
                    </form>
                </div>
{#}
                <div class="panel-footer text-center"><a href="{{ path("fos_user_resetting_request") }}">{{ 'resetting.reset.request'|trans }}</a></div>
{#}
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block stylesheet %}
    <style type="text/css">
        .logo {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .logo h1 {
            font-size: 3em;
            font-weight: 800;
        }
    </style>
{% endblock %}