{% extends ":User:base.html.twig" %}

{% trans_default_domain 'UnisystemUserBundle' %}

{% block title %}{{ 'security.login.title'|trans({}, 'UnisystemUserBundle') }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1 class="page-header">{{ 'security.login.title'|trans({}, 'UnisystemUserBundle') }}</h1>
            <div class="panel panel-default">
                <div class="panel-heading text-center">{{ 'security.login.title'|trans({}, 'UnisystemUserBundle') }}</div>
                <div class="panel-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="form-group">
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            <input class="form-control text-center" type="text" id="username" name="_username" value="{{ last_username }}" required="required"  placeholder="{{ 'security.login.username'|trans({}, 'UnisystemUserBundle') }}" />
                        </div>
                        <div class="form-group">
                            <input class="form-control text-center" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'UnisystemUserBundle') }}" />
                        </div>
{#}
                        <div class="checkbox">
                            <label><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'UnisystemUserBundle') }}</label> 
                        </div>
{#}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <button type="submit"  id="_submit" name="_submit" class="btn btn-primary btn-block">{{ icon('sign-in') }}&nbsp;{{ 'security.login.submit'|trans({}, 'UnisystemUserBundle') }}</button>
                    </form>
                </div>
                <div class="panel-footer text-center"><a href="{{ path("fos_user_resetting_request") }}">{{ 'resetting.reset.request'|trans({}, 'UnisystemUserBundle') }}</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}