{% extends 'HVGAgentBundle:Pet:layout.html.twig' %}

{% set translation_domain = 'HVGAgentBundle' %}{% trans_default_domain translation_domain %}

{% block title %}{{ 'pet.index.title'|trans }}{% endblock %}

{% block pet %}
    <div class="row" id="page-list">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'pet.index.list'|trans }}</h1>
                </div>
                {% if pets is empty %}
                <div class="panel-body">
                    <div class="text-center">{{ 'pet.index.empty'|trans }}</div>
                </div>
                {% else %}
                <div class="table-responsive">
                    <table class="records_list table table-striped table-hover table-middle">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('times fa-fw') }}</a></div>
                                </th>
                                <th>{{ 'pet.form.photography'|trans }}</th>
                                <th>{{ knp_pagination_sortable(pets, 'pet.form.name'|trans, 'name') }}{% if sort == 'name' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(pets, 'pet.form.race'|trans, 'race') }}{% if sort == 'race' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(pets, 'pet.form.weight'|trans, 'weight') }}{% if sort == 'weight' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(pets, 'pet.form.gender'|trans, 'gender') }}{% if sort == 'gender' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(pets, 'pet.form.color'|trans, 'color') }}{% if sort == 'color' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(pets, 'pet.form.petgroup'|trans, 'petgroup') }}{% if sort == 'petgroup' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                <th>{{ knp_pagination_sortable(pets, 'pet.form.unit'|trans, 'unit') }}{% if sort == 'unit' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pet in pets %}
                            <tr>
                                <td>
                                    <div class="btn-group"><a href="{{ path('agent_pet_show', {'pet' : pet.id}) }}" class="btn btn-xs btn-default">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="{{ path('agent_pet_edit', {'pet' : pet.id}) }}" class="btn btn-xs btn-warning">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="{{ path('agent_pet_delete', {'pet' : pet.id}) }}" class="btn btn-xs btn-danger">{{ icon('times fa-fw') }}</a></div>
                                </td>
                                <td><img class="img-responsive" src="{{ vich_uploader_asset(pet, 'photographyfile') | imagine_filter('pet_small') }}" /></td>
                                <td>{% if pet.name %}{{ pet.name }}{% endif %}</td>
                                <td>{% if pet.race %}{{ pet.race }}{% endif %}</td>
                                <td>{% if pet.weight %}{{ pet.weight }}{% endif %}</td>
                                <td>{% if pet.gender %}{{ petgenders[pet.gender] }}{% endif %}</td>
                                <td>{% if pet.color %}{{ petcolors[pet.color] }}{% endif %}</td>
                                <td>{% if pet.petgroup %}{{ petgroups[pet.petgroup] }}{% endif %}</td>
                                <td>{% if pet.unit %}{{ pet.unit }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>

            {% if pets is not empty %}
            <div class="text-center">
                {{ knp_pagination_render(pets) }}
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /#page-list -->        
{% endblock %}