{% extends 'HVGSystemBundle::base.html.twig' %}
{% use 'HVGSystemBundle::navbar.html.twig' %}
{% use 'HVGSystemBundle::sidebar.html.twig' %}

{% set translation_domain = 'HVGSystemBundle' %}
{% trans_default_domain translation_domain %}

{% block title %}{{ 'fund.list.title'|trans }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% include 'HVGSystemBundle::icon.html.twig' %}{{ 'fund.list.title'|trans }}</h1>
                {% include 'HVGSystemBundle::flashbag.html.twig' with { 'translation_domain': translation_domain } %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNew">{{ icon('plus') }}&nbsp;{{ 'fund.new.link'|trans }}</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ 'fund.form.actions'|trans }}</th>
                                    <th>{{ knp_pagination_sortable(funds, 'fund.form.id'|trans, 'id') }}{% if sort == 'id' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(funds, 'fund.form.name'|trans, 'name') }}{% if sort == 'name' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(funds, 'fund.form.createdAt'|trans, 'createdAt') }}{% if sort == 'createdAt' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(funds, 'fund.form.updatedAt'|trans, 'updatedAt') }}{% if sort == 'updatedAt' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, fund in funds %}
                                <tr>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group" role="group">
                                                <a type="button" class="btn btn-warning" href="{{ path('fund_show', { 'id': fund.id }) }}" aria-label="{{ 'fund.show.link'|trans }}">{{ icon('search') }}</a>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit{{ fund.id }}">{{ icon('edit') }}</button>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete{{ fund.id }}">{{ icon('trash') }}</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{% if fund.id %}{{ fund.id }}{% endif %}</td>
                                    <td>{% if fund.name %}{{ fund.name }}{% endif %}</td>
                                    <td>{% if fund.createdAt %}{{ fund.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd-LLL-Y - HH:mm") }}{% endif %}</td>
                                    <td>{% if fund.updatedAt %}{{ fund.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd-LLL-Y - HH:mm") }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            {{ knp_pagination_render(funds) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-list -->

        <div id="page-modal">
            <div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'fund.new.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form_start(newForm, { 'style': 'horizontal' }) }}
                                        {{ form_widget(newForm) }}
                                        <button type="submit" class="btn btn-primary btn-block">{{ icon('check') }}&nbsp;{{ 'fund.new.submit'|trans }}</button>
                                    {{ form_end(newForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for key, fund in funds %}
            <div class="modal fade" id="modalEdit{{ fund.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'fund.edit.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    {% set editForm = attribute(editForms, key) %}
                                    {{ form_start(editForm, { 'style': 'horizontal' }) }}
                                        {{ form_widget(editForm) }}
                                        <button type="submit" class="btn btn-primary btn-block">{{ icon('check') }}&nbsp;{{ 'fund.edit.submit'|trans }}</button>
                                    {{ form_end(editForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalDelete{{ fund.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'fund.delete.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                <div class="col-xs-10"><p>{{ 'fund.delete.message'|trans }}</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {% set deleteForm = attribute(deleteForms, key) %}
                            {{ form_start(deleteForm) }}
                                {{ form_widget(deleteForm) }}
                                <button type="submit" class="btn btn-danger pull-right">{{ icon('trash') }}&nbsp;{{ 'fund.delete.submit'|trans }}</button>
                            {{ form_end(deleteForm) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /#page-modal -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}
