{% extends 'HVGAgentBundle:Unit:layout.html.twig' %}

{% block unit %}
{#}
        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <p>
                    <div class="btn-toolbar">
                        <a type="button" class="btn btn-default" href="{{ path('agent_unit_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'unit.index.link'|trans }}</a>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNewTicket">{{ icon('plus') }}&nbsp;{{ 'ticket.new.link'|trans }}</button>
                    </div>
                </p>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-show">
            <div class="col-md-12">
                <p>
                    <ul class="nav nav-pills">
                        <li><a href="#">{{ unit }}</a></li>
                        <li><a href="#">{{ 'unit.show.unitresident'|trans }}</a></li>
                        <li><a href="#">{{ 'unit.show.carpark'|trans }}</a></li>
                        <li><a href="#">{{ 'unit.show.unitmemo'|trans }}</a></li>
                        <li><a href="#">{{ 'unit.show.ticket'|trans }}</a></li>
                        <li><a href="#">{{ 'unit.show.warehouse'|trans }}</a></li>
                    </ul>
                </p>
                <p>
                    <ul class="nav nav-pills" id="myTabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">{{ unit }}</a></li>
                        <li role="presentation"><a href="#unitresident" role="tab" id="unitresident-tab" data-toggle="tab" aria-controls="unitresident" aria-expanded="false">{{ 'unit.show.unitresident'|trans }}</a></li>
                        <li role="presentation"><a href="#carpark" role="tab" id="carpark-tab" data-toggle="tab" aria-controls="carpark" aria-expanded="false">{{ 'unit.show.carpark'|trans }}</a></li>
                        <li role="presentation"><a href="#unitmemo" role="tab" id="unitmemo-tab" data-toggle="tab" aria-controls="unitmemo" aria-expanded="false">{{ 'unit.show.unitmemo'|trans }}</a></li>
                        <li role="presentation"><a href="#ticket" role="tab" id="ticket-tab" data-toggle="tab" aria-controls="ticket" aria-expanded="false">{{ 'unit.show.ticket'|trans }}</a></li>
                        <li role="presentation"><a href="#warehouse" role="tab" id="warehouse-tab" data-toggle="tab" aria-controls="warehouse" aria-expanded="false">{{ 'unit.show.warehouse'|trans }}</a></li>
                    </ul>
                </p>
                <div class="tab-content">
                    <div class="tab-pane fade active in" role="tabpanel" id="home" aria-labelledby="home-tab">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                                    <dt>{{ 'unit.form.community'|trans }}</dt><dd>{% if unit.community %}<a href="{{ path('agent_community_show', { 'id' : unit.community.id }) }}">{{ unit.community.name }}</a>{% endif %}</dd>
                                    <dt>{{ 'unit.form.unitgroup'|trans }}</dt><dd>{% if unit.unitgroup %}<a href="{{ path('agent_unitgroup_show', { 'id' : unit.unitgroup.id }) }}">{{ unit.unitgroup.name }}</a>{% endif %}</dd>
                                    <dt>{{ 'unit.form.name'|trans }}</dt><dd>{% if unit.name %}{{ unit.name }}{% endif %}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="unitresident" aria-labelledby="unitresident-tab">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="records_list table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{ 'unitresident.form.name'|trans }}</th>
                                            <th>{{ 'unitresident.form.phone'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for resident in unit.residents %}
                                        <tr>
                                            <td>{{ resident.name }}</td>
                                            <td>{{ resident.phone }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="carpark" aria-labelledby="carpark-tab">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="records_list table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{ 'carpark.form.action'|trans }}</th>
                                            <th>{{ 'carpark.form.name'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="unitmemo" aria-labelledby="unitmemo-tab">
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="ticket" aria-labelledby="ticket-tab">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="records_list table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{ 'ticket.form.actions'|trans }}</th>
                                            <th>{{ 'ticket.form.description'|trans }}</th>
                                            <th>{{ 'ticket.form.ticketstatus'|trans }}</th>
                                            <th>{{ 'ticket.form.user'|trans }}</th>
                                            <th>{{ 'ticket.form.createdAt'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, ticket in unit.tickets %}
                                        <tr>
                                            <td>
                                                <div class="btn-toolbar">
                                                    <div class="btn-group" role="group">
                                                        <a type="button" class="btn btn-xs btn-warning" href="{{ path('agent_ticket_show', { 'id': ticket.id }) }}" aria-label="{{ 'ticket.show.link'|trans }}">{{ icon('search') }}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{% if ticket.description %}{{ ticket.description }}{% endif %}</td>
                                            <td>{% if ticket.ticketstatus %}{{ ticket.ticketstatus.name }}{% endif %}</td>
                                            <td>{% if ticket.user %}{{ ticket.user.username }}{% endif %}</td>
                                            <td>{% if ticket.createdAt %}{{ ticket.createdAt|ago }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="warehouse" aria-labelledby="warehouse-tab">
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="records_list table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{ 'warehouse.action'|trans }}</th>
                                            <th>{{ 'warehouse.unitgroup'|trans }}</th>
                                            <th>{{ 'warehouse.name'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-list -->

        <div id="page-modal">
            <div class="modal fade" id="modalNewTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'ticket.new.title'|trans({'%unit%' : unit}) }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form_start(newTicketForm, { 'style': 'horizontal' }) }}
                                        {{ form_widget(newTicketForm) }}
                                        <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                            <button type="submit" class="btn btn-primary">{{ icon('check fa-fw') }}&nbsp;{{ 'ticket.new.submit'|trans }}</button>
                                        </div></div>
                                    {{ form_end(newTicketForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-modal -->
{#}
{% endblock %}
