{% extends 'HVGAgentBundle:Base:layout.html.twig' %}

{% block title %}{{ 'unit.index.title'|trans }}{% endblock %}

{% set translation_domain = 'HVGAgentBundle' %}
{% trans_default_domain translation_domain %}

{% block agent %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'unit.index.title'|trans }}</h1>
                {% include 'HVGSystemBundle::flashbag.html.twig' with { 'translation_domain': translation_domain } %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-filter">
            <div class="col-lg-12">
                <p>
                <ul class="nav nav-pills">
                    {% for community in communities %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ community }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            {% for unitgroup in community.unitgroups %}
                                <li><a href="{{ path('agent_unit_unitgroup', {id : unitgroup.id}) }}"><span class="badge">{{ unitgroup.units|length }}</span>&nbsp;{{ unitgroup.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                </p>
            </div>
        </div>
        <!-- /#page-filter -->

        <div class="row" id="page-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{{ 'unit.index.list'|trans }}</h1>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ 'unit.form.actions'|trans }}</th>
                                    <th>{{ knp_pagination_sortable(units, 'unit.form.id'|trans, 'id') }}{% if sort == 'id' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(units, 'unit.form.name'|trans, 'name') }}{% if sort == 'name' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, unit in units %}
                                <tr>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group" role="group">
                                                <a type="button" class="btn btn-xs btn-warning" href="{{ path('agent_unit_show', { 'id': unit.id }) }}" aria-label="{{ 'unit.show.link'|trans }}">{{ icon('search') }}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{% if unit.id %}{{ unit.id }}{% endif %}</td>
                                    <td>{% if unit.name %}{{ unit.name }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            {{ knp_pagination_render(units) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-list -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}
