{% extends 'HVGAgentBundle:Base:layout.html.twig' %}

{% set translation_domain = 'HVGAgentBundle' %}
{% trans_default_domain translation_domain %}

{% block title %}{{ 'ticketaction.index.title'|trans }}{% endblock %}

{% block agent %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'ticketaction.index.title'|trans }}</h1>
                {% include 'HVGSystemBundle::flashbag.html.twig' with { 'translation_domain': translation_domain } %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{{ 'ticketaction.index.list'|trans }}</h1>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ 'ticketaction.form.ticket'|trans }}</th>
                                    <th>{{ 'ticketaction.form.unit'|trans }}</th>
                                    <th>{{ 'ticketaction.form.area'|trans }}</th>
                                    <th>{{ 'ticketaction.form.user'|trans }}</th>
                                    <th class="col-md-5">{{ 'ticketaction.form.description'|trans }}</th>
                                    <th>{{ knp_pagination_sortable(ticketactions, 'ticketaction.form.createdAt'|trans, 'createdAt') }}{% if sort == 'createdAt' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, ticketaction in ticketactions %}
                                <tr>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group" role="group">
                                                <a type="button" class="btn btn-xs btn-default" href="{{ path('agent_ticket_show', { 'id': ticketaction.ticket.id }) }}" aria-label="{{ 'ticket.show.link'|trans }}">{{ icon('ticket') }}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{% if ticketaction.unit %}{{ ticketaction.unit }}{% endif %}</td>
                                    <td>{% if ticketaction.ticket.area %}{{ ticketaction.ticket.area }}{% endif %}</td>
                                    <td>{% if ticketaction.user %}{{ ticketaction.user }}{% endif %}</td>
                                    <td>{% if ticketaction.description %}{{ ticketaction.description }}{% endif %}</td>
                                    <td>{% if ticketaction.createdAt %}{{ ticketaction.createdAt|ago }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            {{ knp_pagination_render(ticketactions) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-list -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}
