{% extends 'HVGAgentBundle:Person:layout.html.twig' %}

{% set translation_domain = 'HVGAgentBundle' %}{% trans_default_domain translation_domain %}

{% block title %}{{ 'person.delete.title'|trans }}{% endblock %}

{% block person %}
    <div class="row" id="page-delete">
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'person.delete.title'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'person.form.description'|trans }}</dt><dd>{% if person.description %}{{ person.description }}{% endif %}</dd>
                        <dt>{{ 'person.form.createdAt'|trans }}</dt><dd>{% if person.createdAt %}{{ person.createdAt|ago }}{% endif %}</dd>
                        <dt>{{ 'person.form.expiredAt'|trans }}</dt><dd>{% if person.expiredAt %}{{ person.expiredAt|ago }}{% endif %}</dd>
                        <dt>{{ 'person.form.unit'|trans }}</dt><dd>{% if person.unit %}{{ person.unit }}{% endif %}</dd>
                    </dl>
                </div>
            </div>
        </div>
        {{ form_start(deleteForm) }}
        {{ form_widget(deleteForm) }}
        <div class="col-md-6">
            <div class="btn-toolbar">
                <div class="btn-group"><button type="submit" class="btn btn-danger">{{ icon('times fa-fw') }}&nbsp;{{ 'person.delete.submit'|trans }}</button></div>
                <div class="btn-group"><a type="button" class="btn btn-default" href="{{ path('agent_person_show', {'person' : person.id}) }}">{{ icon('times fa-fw') }}&nbsp;{{ 'person.delete.cancel'|trans }}</a></div>
            </div>
        </div>
        {{ form_end(deleteForm) }}
    </div>
    <!-- /#page-list -->
{% endblock %}