{% extends 'HVGAccessControlBundle:AccessLog:layout.html.twig' %}

{% trans_default_domain 'HVGAccessControlBundle' %}

{% block title %}{{ 'accesslog.new.title'|trans }}{% endblock %}

{% block accesslog %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'accesslog.new.title'|trans }}</h3>
        </div>
        <div class="panel-body">
            {{ form_start(newForm) }}
            {{ form_row(newForm.description) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg pull-right">{{ icon('send fa-fw') }}&nbsp;{{ 'accesslog.new.submit'|trans }}</button>
            </div>
            {{ form_end(newForm) }}
        </div>
    </div>
{% endblock %}
