{% block ticketFilter %}
{% set translation_domain = 'HVGAgentBundle' %}
{% trans_default_domain translation_domain %}

<div>
    <div class="row" id="page-toolbar">
        <div class="col-lg-12">
            {{ form_start(ticketFilterForm, { 'style': 'inline', 'attr': {'id': 'ticket_filter_form'}}) }}
            {{ form_rest(ticketFilterForm) }}
                <div class="form-group"><button id="newButton" data-toggle="modal" data-target="#modalNew" type="button" class="btn btn-success disabled">{{ icon('plus fa-fw') }}&nbsp;{{ 'ticket.new.link'|trans }}</button></div>
            {{ form_end(ticketFilterForm) }}
        </div>
    </div>

    {% if newForm is defined %}
    <div id="page-modal">
        <div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'ticket.new.title'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_start(newForm, { 'style': 'horizontal' }) }}
                                    {{ form_widget(newForm) }}
                                    <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                        <button type="submit" class="btn btn-primary">{{ icon('check fa-fw') }}&nbsp;{{ 'ticket.new.submit'|trans }}</button>
                                    </div></div>
                                {{ form_end(newForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
