{% extends 'HVGAgentBundle:Dashboard:layout.html.twig' %}

{% set translation_domain = 'HVGAgentBundle' %}{% trans_default_domain translation_domain %}

{% block title %}{{ 'dashboard.index.title'|trans }}{% endblock %}

{% block agent %}
    {% set buttons = [
        {'name':'dashboard.link.community', 'icon':'users fa-fw fa-4x', 'route':'agent_community_index'},
        {'name':'dashboard.link.unitgroup', 'icon':'building fa-fw fa-4x', 'route':'agent_unitgroup_index'},
        {'name':'dashboard.link.unit', 'icon':'home fa-fw fa-4x', 'route':'agent_unit_index'},
        {'name':'dashboard.link.person', 'icon':'user fa-fw fa-4x', 'route':'agent_person_index'},
        {'name':'dashboard.link.unitmemo', 'icon':'file-text fa-fw fa-4x', 'route':'agent_unitmemo_index'},
        {'name':'dashboard.link.guest', 'icon':'taxi fa-fw fa-4x', 'route':'agent_guest_index'},
        {'name':'dashboard.link.unitresident', 'icon':'user-circle fa-fw fa-4x', 'route':'agent_unitresident_index'},
        {'name':'dashboard.link.pet', 'icon':'paw fa-fw fa-4x', 'route':'agent_pet_index'},
        {'name':'dashboard.link.warehouse', 'icon':'lock fa-fw fa-4x', 'route':'agent_warehouse_index'},
        {'name':'dashboard.link.unitinsurancepolicy', 'icon':'shield fa-fw fa-4x', 'route':'agent_unitinsurancepolicy_index'},
        {'name':'dashboard.link.carpark', 'icon':'car fa-fw fa-4x', 'route':'agent_carpark_index'},
        {'name':'dashboard.link.guestcarpark', 'icon':'car fa-fw fa-4x', 'route':'agent_guestcarpark_index'},
        {'name':'dashboard.link.communityevent', 'icon':'bullhorn fa-fw fa-4x', 'route':'agent_communityevent_index'},
        {'name':'dashboard.link.accesslog', 'icon':'book fa-fw fa-4x', 'route':'agent_accesslog_index'},
    ] %}
    <div class="row" id="page-dashboard">
        {% for button in buttons %}
        <div class="col-lg-3">
            <a href="{{ path(button['route']) }}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4">{{ icon(button['icon']) }}</div>
                            <div class="col-md-8"><h4>{{ button['name']|trans }}</h4></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

{#}
        community: Comunidades
        unitgroup: Torres
        unit: Departamentos
        unitmemo: Memorándums
        guest: Visitas
        unitresident: Residentes
        pet: Mascotas
        warehouse: Bodegas
        carpark: Estacionamientos
        guestcarpark: Estacionamientos de visita
        communityevent: Eventos

    <div class="row" id="page-header">
        <div class="col-lg-12">
            <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'dashboard.index.title'|trans }}</h1>
            {% include 'HVGSystemBundle::flashbag.html.twig' with { 'translation_domain': translation_domain } %}
        </div>
    </div>
    <!-- /#page-header -->

    <div class="row" id="page-dashboard">
        <div class="col-md-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">{{ icon('ticket fa-fw fa-5x') }}</div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ tickets }}</div>
                            <div>{{ 'dashboard.counter.ticket'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="pull-left">{{ 'ticket.new.link'|trans }}</div><div class="pull-right">{{ icon('arrow-circle-right fa-fw fa-lg') }}</div>
                </div>
                <div class="panel-body">
                    <div class="pull-left">{{ 'ticket.new.link'|trans }}</div><div class="pull-right">{{ icon('arrow-circle-right fa-fw fa-lg') }}</div>
                </div>
                <div class="panel-body">
                    <div class="pull-left">{{ 'ticket.new.link'|trans }}</div><div class="pull-right">{{ icon('arrow-circle-right fa-fw fa-lg') }}</div>
                </div>
                <div class="panel-body">
                    <div class="pull-left">{{ 'ticket.new.link'|trans }}</div><div class="pull-right">{{ icon('arrow-circle-right fa-fw fa-lg') }}</div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">{{ icon('hand-o-up fa-fw fa-5x') }}</div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ petitions|length }}</div>
                            <div>{{ 'dashboard.counter.petition'|trans }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('agent_petition_received') }}">
                    <div class="panel-footer">
                        <div class="pull-left">{{ 'petition.received.link'|trans }}</div>
                        <div class="pull-right">{{ icon('arrow-circle-right fa-fw fa-lg') }}</div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /#page-dashboard -->

{#}
{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        .huge { font-size: 3em; }
        .panel-green {
            border-color: #5cb85c;
        }
        .panel-green > .panel-heading {
            border-color: #5cb85c;
            color: white;
            background-color: #5cb85c;
        }
        .panel-green > a {
            color: #5cb85c;
        }
        .panel-green > a:hover {
            color: #3d8b3d;
        }
        .panel-red {
            border-color: #d9534f;
        }
        .panel-red > .panel-heading {
            border-color: #d9534f;
            color: white;
            background-color: #d9534f;
        }
        .panel-red > a {
            color: #d9534f;
        }
        .panel-red > a:hover {
            color: #b52b27;
        }
        .panel-yellow {
            border-color: #f0ad4e;
        }
        .panel-yellow > .panel-heading {
            border-color: #f0ad4e;
            color: white;
            background-color: #f0ad4e;
        }
        .panel-yellow > a {
            color: #f0ad4e;
        }
        .panel-yellow > a:hover {
            color: #df8a13;
        }
    </style>
{% endblock %}