{% extends 'HVGServiceControlBundle:Base:layout.html.twig' %}

{% trans_default_domain 'HVGServiceControlBundle' %}

{% block title %}{{ 'service.index.title'|trans }}{% endblock %}

{% block servicecontrol %}
    <section>
        <div class="container">
            <div class="row" id="page-header">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="page-header">{{ 'service.index.title'|trans }}</h1>
                    {% for service in services %}
                        <a href="{{ path('servicecontrol_serviceagent_index', {'hash' : community.hash, 'service' : service.id }) }}" class="btn btn-primary btn-lg btn-block">{{ service.name }}&nbsp;{{ icon('arrow-right fa-fw') }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
