<!DOCTYPE html>
<html lang="es">
<body>
    {% trans_default_domain 'HVGPublicBundle' %}
    <h1>{{ 'pet.email.new.greeting'|trans({'%name%':pet.owner.name}) }}</h1>
    <p>{{ 'pet.email.new.message'|trans }}</p>
    <p>{{ 'pet.email.new.presentation'|trans({'%pet_id%':pet.id}) }}</p>
    <hr>
    <ul>
        <li>Información de la mascota</li>
        <ul>
            {% if pet.name %}<li><b>{{ 'pet.form.name'|trans }}</b>: {{ pet.name }}</li>{% endif %}
            {% if pet.petgroup %}<li><b>{{ 'pet.form.petgroup'|trans }}</b>: {{ petgroups[pet.petgroup] }}</li>{% endif %}
            {% if pet.color %}<li><b>{{ 'pet.form.color'|trans }}</b>: {{ petcolors[pet.color] }}</li>{% endif %}
            {% if pet.race %}<li><b>{{ 'pet.form.race'|trans }}</b>: {{ pet.race }}</li>{% endif %}
            {% if pet.gender %}<li><b>{{ 'pet.form.gender'|trans }}</b>: {{ petgenders[pet.gender] }}</li>{% endif %}
            {% if pet.weight %}<li><b>{{ 'pet.form.weight'|trans }}</b>: {{ pet.weight }}</li>{% endif %}
            {% if pet.rfid %}<li><b>{{ 'pet.form.rfid'|trans }}</b>: {{ pet.rfid }}</li>{% endif %}
        </ul>
        <li>Información de contacto</li>
        <ul>
            {% if pet.owner %}<li><b>{{ 'pet.form.owner'|trans }}</b>: {{ pet.owner.name }}</li>{% endif %}
            {% if pet.unit %}<li><b>{{ 'pet.form.unit'|trans }}</b>: {{ pet.unit }}</li>{% endif %}
            {% if pet.phone %}<li><b>{{ 'pet.form.phone'|trans }}</b>: {{ pet.phone }}</li>{% endif %}
            {% if pet.email %}<li><b>{{ 'pet.form.email'|trans }}</b>: {{ pet.email }}</li>{% endif %}
        </ul>
    </ul>
    <hr>
    <p>{{ 'pet.email.new.regards'|trans }}</p>
    <p>{{ 'pet.email.new.signature'|trans }}</p>
</body>
</html>


