{% extends 'HVGPublicBundle:Base:layout.html.twig' %}

{% trans_default_domain 'HVGPublicBundle' %}

{% block title %}{{ 'unitinsurancepolicy.index.title'|trans }}{% endblock %}

{% block public %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ 'unitinsurancepolicy.new.title'|trans }}</h1>
                {% include 'HVGPublicBundle:Base:flashbag.html.twig' %}
                {% set insurancepolicyexpiration = community.insurancepolicyexpiration|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL 'de' y") %}
                {% autoescape false %}{{ 'unitinsurancepolicy.new.message'|trans({'%insurancepolicyexpiration%' : insurancepolicyexpiration }) }}{% endautoescape %}
                {{ form_start(newForm, {'style':'horizontal'}) }}
                {{ form_widget(newForm) }}
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" class="btn btn-primary btn-lg">{{ icon('send fa-fw') }}&nbsp;{{ 'unitinsurancepolicy.new.submit'|trans }}</button>
                    </div>
                </div>
                {{ form_end(newForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
{#}
<style type="text/css">
.images {
    margin-top: 20px;
}
</style>
{#}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    var optionsFileinput = {
        showPreview: false,
        showRemove: false,
        showUpload: false,
        showCancel: false,
        showClose: false,
        showZoom: false,
        captionClass: 'input input-lg',
        browseClass: 'btn btn-primary btn-block btn-lg',
        browseLabel: 'Seleccionar Archivo'
    }
    $(".fileinput").find('input').fileinput(optionsFileinput);

/*
    var optionsUnit = {
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        disableIfEmpty: true,
        maxHeight: 600,
        buttonWidth: '100%',
        nonSelectedText: 'Ningún Departamento Seleccionado',
        filterPlaceholder: 'Buscar',
    };
    $('#hvg_publicbundle_unitinsurancepolicy_unit').multiselect(optionsUnit);
*/
});
</script>
{% endblock %}