{% extends 'HVGAccessControlBundle:Base:layout.html.twig' %}

{% trans_default_domain 'HVGAccessControlBundle' %}

{% block title %}{{ 'accessguard.index.title'|trans }}{% endblock %}

{% block accesscontrol %}
    <section>
        <div class="container">
            <div class="row" id="page-header">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="page-header">{{ 'accessguard.index.title'|trans }}</h1>
                    {% for accessguard in accessguards %}
                        <a href="{{ path('accesscontrol_accessmonitor_index', {'hash' : community.hash, 'accessgate' : accessgate.id, 'accessguard' : accessguard.id }) }}" class="btn btn-primary btn-lg btn-block">{{ accessguard.name }}&nbsp;{{ icon('arrow-right fa-fw') }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
