{% block extends %}
{{ "{% extends ':Admin:base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block title %}" }}{{ "{{ '" ~ entity_singularized|lower ~ ".show.title'|trans({}, '" ~ bundle ~ "') }}" }}{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ "{% include ':Admin:icon.html.twig' %}" }}{{ "{{ '" ~ entity_singularized|lower ~ ".show.title'|trans({}, '" ~ bundle ~ "') }}" }}</h1>
                {{ "{% include ':Admin:flashbag.html.twig' %}" }}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    {% set hide_edit, hide_delete = false, false %}
                    {{ include('crud/views/others/record_actions.html.twig.twig') -}}
                    <div class="panel-body">
                        <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                        {%- for field, metadata in fields %}

                            {%- if field not in ['id', 'deletedAt', 'path'] %}

                                <dt>{{ "{{ '" }}{{ entity_singularized|lower ~ "." ~ field }}{{ "'|trans({}, '" ~ bundle ~ "') }}" }}</dt>

                                {%- if metadata.type in ['date'] %}

                                    <dd>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'full\', \'full\', \'es_ES\', \'America/Santiago\', "d \'de\' LLLL \'de\' Y") }}{% endif %}' }}</dd>

                                {%- elseif metadata.type in ['time'] %}

                                    <dd>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'full\', \'full\', \'es_ES\', \'America/Santiago\', "HH:mm") }}{% endif %}' }}</dd>

                                {%- elseif metadata.type in ['datetime'] %}

                                    <dd>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'full\', \'full\', \'es_ES\', \'America/Santiago\', "d \'de\' LLLL \'de\' Y - HH:mm") }}{% endif %}' }}</dd>

                                {%- elseif metadata.type in ['array'] %}

                                    <dd>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</dd>

                                {%- elseif metadata.type in ['boolean'] %}

                                    <dd>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ " %}{{ 'Si' }}{% else %}{{ 'No' }}{% endif %}" }}</dd>

                                {%- else %}

                                    <dd>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}{% endif %}' }}</dd>

                                {%- endif %}

                            {%- endif %}

                        {%- endfor %}

                        </dl>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{{ "{% endblock %}" }}

{% endblock body %}