{% extends 'HVGAgentBundle:UnitResident:layout.html.twig' %}

{% set translation_domain = 'HVGAgentBundle' %}{% trans_default_domain translation_domain %}

{% block unitresident %}
    <div class="row" id="page-list">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'unitresident.index.list'|trans }}</h1>
                </div>
                {% if unitresidents is empty %}
                <div class="panel-body">
                    <div class="text-center">{{ 'unitresident.index.empty'|trans }}</div>
                </div>
                {% else %}
                <div class="table-responsive">
                    <table class="records_list table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-default disabled">{{ icon('times fa-fw') }}</a></div>
                                </th>
                                <th>{{ 'unitresident.form.name'|trans }}</th>
                                <th>{{ 'unitresident.form.phone'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for unitresident in unitresidents %}
                            <tr>
                                <td>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-primary">{{ icon('search fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-warning">{{ icon('edit fa-fw') }}</a></div>
                                    <div class="btn-group"><a href="#" class="btn btn-xs btn-danger">{{ icon('times fa-fw') }}</a></div>
                                </td>
                                <td>{% if unitresident.name %}{{ unitresident.name }}{% endif %}</td>
                                <td>{% if unitresident.phone %}{{ unitresident.phone }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>                
        </div>
    </div>
    <!-- /#page-list -->        
{% endblock %}